.header-title{
    font-weight:bold;
}

.header-amount{
    font-weight: normal;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: burlywood;
}

.header-container{
    background-color: antiquewhite;
}